In [1]:
import pandas as pd
import numpy as np
import os
import re
os.chdir("C:/Users/tommy/Documents/final_sem/Applied Data Science/Project2/data/tables")
from pyspark.sql import SparkSession
from pyspark.shell import spark
from pyspark.sql import SQLContext
from pyspark.sql.functions import *
import matplotlib.pyplot as plt

spark = (
    SparkSession.builder.appName("MAST30034 Project 2")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.driver.memory", "4g")
    .getOrCreate()
)

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 3.3.0
      /_/

Using Python version 3.9.12 (main, Apr  4 2022 05:22:27)
Spark context Web UI available at http://192.168.1.6:4040
Spark context available as 'sc' (master = local[*], app id = local-1661865912056).
SparkSession available as 'spark'.

# consumer dataset

In [2]:
# read csv file
consumer = spark.read.csv('consumer.csv', header = True)
consumer

+-----------------+--------------------+-----+--------+-----------+-----------+
|             name|             address|state|postcode|     gender|consumer_id|
+-----------------+--------------------+-----+--------+-----------+-----------+
| Yolanda Williams|413 Haney Gardens...|   WA|    6935|     Female|    1195503|
|       Mary Smith|     3764 Amber Oval|  NSW|    2782|     Female|     179208|
|    Jill Jones MD|  40693 Henry Greens|   NT|     862|     Female|    1194530|
|  Lindsay Jimenez|00653 Davenport C...|  NSW|    2780|     Female|     154128|
|Rebecca Blanchard|9271 Michael Mano...|   WA|    6355|     Female|     712975|
|    Karen Chapman|2706 Stewart Oval...|  NSW|    2033|     Female|     407340|
|     Andrea Jones|   122 Brandon Cliff|  QLD|    4606|     Female|     511685|
| Stephen Williams|6804 Wright Crest...|   WA|    6056|       Male|     448088|
|  Stephanie Reyes|5813 Denise Land ...|  NSW|    2482|     Female|     650435|
| Jillian Gonzales|461 Ryan Common S...|  VIC|    3220|     Female|    1058499|
|     Eugene Lucas|33983 Kevin Drive...|  VIC|    3063|Undisclosed|     428325|
|    Melissa Jones| 13706 Kimberly Port|   WA|    6743|     Female|    1494640|
| Angela Brown PhD|0236 Mills Land S...|  QLD|    4673|     Female|    1146717|
|     Lance Butler|   8943 Kenneth Camp|  VIC|    3332|       Male|    1343547|
|      Paul Abbott|     60495 Ryan Hill|  QLD|    4512|       Male|    1463076|
|       Tracy Hart|9671 Jacob Harbor...|  NSW|    2452|       Male|    1356405|
|    Alyssa Wilson|  44353 Nathan Ridge|  VIC|    3719|     Female|    1331093|
|  Michael Burnett|   89400 Torres Fort|  NSW|    1109|       Male|      80965|
|Victoria Gonzalez|68657 Johnson Gle...|  TAS|    7276|     Female|    1226530|
|     James Norris|   790 Ramos Landing|  VIC|    3234|Undisclosed|    1390367|
+-----------------+--------------------+-----+--------+-----------+-----------+
only showing top 20 rows

# user detail dataset

In [3]:
user_detail = spark.read.parquet("consumer_user_details.parquet")
user_detail

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      1|    1195503|
|      2|     179208|
|      3|    1194530|
|      4|     154128|
|      5|     712975|
|      6|     407340|
|      7|     511685|
|      8|     448088|
|      9|     650435|
|     10|    1058499|
|     11|     428325|
|     12|    1494640|
|     13|    1146717|
|     14|    1343547|
|     15|    1463076|
|     16|    1356405|
|     17|    1331093|
|     18|      80965|
|     19|    1226530|
|     20|    1390367|
+-------+-----------+
only showing top 20 rows

# transaction dataset

In [4]:
path = "C:/Users/tommy/Documents/final_sem/Applied Data Science/Project2/data/tables/transactions_20210228_20210827_snapshot/"
list_files = os.listdir(path)
list_files = list_files[1:(len(list_files)-1)]
list_files

['order_datetime=2021-02-28',
 'order_datetime=2021-03-01',
 'order_datetime=2021-03-02',
 'order_datetime=2021-03-03',
 'order_datetime=2021-03-04',
 'order_datetime=2021-03-05',
 'order_datetime=2021-03-06',
 'order_datetime=2021-03-07',
 'order_datetime=2021-03-08',
 'order_datetime=2021-03-09',
 'order_datetime=2021-03-10',
 'order_datetime=2021-03-11',
 'order_datetime=2021-03-12',
 'order_datetime=2021-03-13',
 'order_datetime=2021-03-14',
 'order_datetime=2021-03-15',
 'order_datetime=2021-03-16',
 'order_datetime=2021-03-17',
 'order_datetime=2021-03-18',
 'order_datetime=2021-03-19',
 'order_datetime=2021-03-20',
 'order_datetime=2021-03-21',
 'order_datetime=2021-03-22',
 'order_datetime=2021-03-23',
 'order_datetime=2021-03-24',
 'order_datetime=2021-03-25',
 'order_datetime=2021-03-26',
 'order_datetime=2021-03-27',
 'order_datetime=2021-03-28',
 'order_datetime=2021-03-29',
 'order_datetime=2021-03-30',
 'order_datetime=2021-03-31',
 'order_datetime=2021-04-01',
 'order_datetime=2021-04-02',
 'order_datetime=2021-04-03',
 'order_datetime=2021-04-04',
 'order_datetime=2021-04-05',
 'order_datetime=2021-04-06',
 'order_datetime=2021-04-07',
 'order_datetime=2021-04-08',
 'order_datetime=2021-04-09',
 'order_datetime=2021-04-10',
 'order_datetime=2021-04-11',
 'order_datetime=2021-04-12',
 'order_datetime=2021-04-13',
 'order_datetime=2021-04-14',
 'order_datetime=2021-04-15',
 'order_datetime=2021-04-16',
 'order_datetime=2021-04-17',
 'order_datetime=2021-04-18',
 'order_datetime=2021-04-19',
 'order_datetime=2021-04-20',
 'order_datetime=2021-04-21',
 'order_datetime=2021-04-22',
 'order_datetime=2021-04-23',
 'order_datetime=2021-04-24',
 'order_datetime=2021-04-25',
 'order_datetime=2021-04-26',
 'order_datetime=2021-04-27',
 'order_datetime=2021-04-28',
 'order_datetime=2021-04-29',
 'order_datetime=2021-04-30',
 'order_datetime=2021-05-01',
 'order_datetime=2021-05-02',
 'order_datetime=2021-05-03',
 'order_datetime=2021-05-04',
 'order_datetime=2021-05-05',
 'order_datetime=2021-05-06',
 'order_datetime=2021-05-07',
 'order_datetime=2021-05-08',
 'order_datetime=2021-05-09',
 'order_datetime=2021-05-10',
 'order_datetime=2021-05-11',
 'order_datetime=2021-05-12',
 'order_datetime=2021-05-13',
 'order_datetime=2021-05-14',
 'order_datetime=2021-05-15',
 'order_datetime=2021-05-16',
 'order_datetime=2021-05-17',
 'order_datetime=2021-05-18',
 'order_datetime=2021-05-19',
 'order_datetime=2021-05-20',
 'order_datetime=2021-05-21',
 'order_datetime=2021-05-22',
 'order_datetime=2021-05-23',
 'order_datetime=2021-05-24',
 'order_datetime=2021-05-25',
 'order_datetime=2021-05-26',
 'order_datetime=2021-05-27',
 'order_datetime=2021-05-28',
 'order_datetime=2021-05-29',
 'order_datetime=2021-05-30',
 'order_datetime=2021-05-31',
 'order_datetime=2021-06-01',
 'order_datetime=2021-06-02',
 'order_datetime=2021-06-03',
 'order_datetime=2021-06-04',
 'order_datetime=2021-06-05',
 'order_datetime=2021-06-06',
 'order_datetime=2021-06-07',
 'order_datetime=2021-06-08',
 'order_datetime=2021-06-09',
 'order_datetime=2021-06-10',
 'order_datetime=2021-06-11',
 'order_datetime=2021-06-12',
 'order_datetime=2021-06-13',
 'order_datetime=2021-06-14',
 'order_datetime=2021-06-15',
 'order_datetime=2021-06-16',
 'order_datetime=2021-06-17',
 'order_datetime=2021-06-18',
 'order_datetime=2021-06-19',
 'order_datetime=2021-06-20',
 'order_datetime=2021-06-21',
 'order_datetime=2021-06-22',
 'order_datetime=2021-06-23',
 'order_datetime=2021-06-24',
 'order_datetime=2021-06-25',
 'order_datetime=2021-06-26',
 'order_datetime=2021-06-27',
 'order_datetime=2021-06-28',
 'order_datetime=2021-06-29',
 'order_datetime=2021-06-30',
 'order_datetime=2021-07-01',
 'order_datetime=2021-07-02',
 'order_datetime=2021-07-03',
 'order_datetime=2021-07-04',
 'order_datetime=2021-07-05',
 'order_datetime=2021-07-06',
 'order_datetime=2021-07-07',
 'order_datetime=2021-07-08',
 'order_datetime=2021-07-09',
 'order_datetime=2021-07-10',
 'order_datetime=2021-07-11',
 'order_datetime=2021-07-12',
 'order_datetime=2021-07-13',
 'order_datetime=2021-07-14',
 'order_datetime=2021-07-15',
 'order_datetime=2021-07-16',
 'order_datetime=2021-07-17',
 'order_datetime=2021-07-18',
 'order_datetime=2021-07-19',
 'order_datetime=2021-07-20',
 'order_datetime=2021-07-21',
 'order_datetime=2021-07-22',
 'order_datetime=2021-07-23',
 'order_datetime=2021-07-24',
 'order_datetime=2021-07-25',
 'order_datetime=2021-07-26',
 'order_datetime=2021-07-27',
 'order_datetime=2021-07-28',
 'order_datetime=2021-07-29',
 'order_datetime=2021-07-30',
 'order_datetime=2021-07-31',
 'order_datetime=2021-08-01',
 'order_datetime=2021-08-02',
 'order_datetime=2021-08-03',
 'order_datetime=2021-08-04',
 'order_datetime=2021-08-05',
 'order_datetime=2021-08-06',
 'order_datetime=2021-08-07',
 'order_datetime=2021-08-08',
 'order_datetime=2021-08-09',
 'order_datetime=2021-08-10',
 'order_datetime=2021-08-11',
 'order_datetime=2021-08-12',
 'order_datetime=2021-08-13',
 'order_datetime=2021-08-14',
 'order_datetime=2021-08-15',
 'order_datetime=2021-08-16',
 'order_datetime=2021-08-17',
 'order_datetime=2021-08-18',
 'order_datetime=2021-08-19',
 'order_datetime=2021-08-20',
 'order_datetime=2021-08-21',
 'order_datetime=2021-08-22',
 'order_datetime=2021-08-23',
 'order_datetime=2021-08-24',
 'order_datetime=2021-08-25',
 'order_datetime=2021-08-26',
 'order_datetime=2021-08-27']

In [6]:
# import modules
from pyspark.sql import SparkSession
import functools
 
# explicit function
def unionAll(dfs):
    return functools.reduce(lambda df1, df2: df1.union(df2.select(df1.columns)), dfs)

# insert datetime
file_name = os.listdir(path+ list_files[0])[1]
transaction = spark.read.parquet(path+ list_files[0] +"/" + file_name)
for i in list_files[1:]:
    file_name = os.listdir(path + i)[1]
    tmp = spark.read.parquet(path+ i +"/" + file_name)
    transaction = unionAll([transaction, tmp] )

In [8]:
transaction

DataFrame[user_id: bigint, merchant_abn: bigint, dollar_value: double, order_id: string]

# merchant dataset

In [9]:
# preprocessing tags(NLP:singular/plural,upper/lower... + One-hot econding, cosine-similarity -> grouping -> naming type of merchants)
path1 = 'C:/Users/tommy/Documents/final_sem/Applied Data Science/Project2/data/tables/'
merchant = spark.read.parquet(path1 + "tbl_merchants.parquet")
merchant

+--------------------+--------------------+------------+
|                name|                tags|merchant_abn|
+--------------------+--------------------+------------+
|       Felis Limited|((furniture, home...| 10023283211|
|Arcu Ac Orci Corp...|([cable, satellit...| 10142254217|
|    Nunc Sed Company|([jewelry, watch,...| 10165489824|
|Ultricies Digniss...|([wAtch, clock, a...| 10187291046|
| Enim Condimentum PC|([music shops - m...| 10192359162|
|       Fusce Company|[(gift, card, nov...| 10206519221|
|Aliquam Enim Inco...|[(computers, comP...| 10255988167|
|    Ipsum Primis Ltd|[[watch, clock, a...| 10264435225|
|Pede Ultrices Ind...|([computer progra...| 10279061213|
|           Nunc Inc.|[(furniture, home...| 10323485998|
|Facilisis Facilis...|([computers, comp...| 10342410215|
|      Odio Institute|((equipment, tool...| 10346855916|
|    Rutrum Justo Ltd|([music shops - m...| 10364012396|
|   Tellus Foundation|[[artist supply a...| 10385011947|
|      Sed Et Company|([florists suppli...| 10385163239|
|              Id Ltd|([computers, comp...| 10385250025|
|Consequat Foundation|[[antique shops -...| 10404542215|
|Sit Amet Nulla Corp.|[[motor vehicle s...| 10430380319|
|Massa Vestibulum ...|[(moTor vehicle s...| 10441711491|
|       Ut Consulting|([gift, card, nov...| 10462560289|
+--------------------+--------------------+------------+
only showing top 20 rows

In [10]:
merchant.select("tags")

+--------------------+
|                tags|
+--------------------+
|((furniture, home...|
|([cable, satellit...|
|([jewelry, watch,...|
|([wAtch, clock, a...|
|([music shops - m...|
|[(gift, card, nov...|
|[(computers, comP...|
|[[watch, clock, a...|
|([computer progra...|
|[(furniture, home...|
|([computers, comp...|
|((equipment, tool...|
|([music shops - m...|
|[[artist supply a...|
|([florists suppli...|
|([computers, comp...|
|[[antique shops -...|
|[[motor vehicle s...|
|[(moTor vehicle s...|
|([gift, card, nov...|
+--------------------+
only showing top 20 rows

# To-Do
### Externel Dataset
    what r we going to use
    * Census Dataset (based on postcode)
    * Lat,Lon data (geospatial related dataset)
    * interest rate + research paper
### Merchant Data
    * preprocessing tags  
        split data format: list+list, list+tuple, tuple+tuple, tuple+list
        NLP:singular/plural,upper/lower... + One-hot econding, cosine-similarity -> grouping -> naming type of merchants

### Consumer Dataset
    * find Lat, Lon using postcode
    * drop name, address

### Transaction Dataset
    * insert datetime
    * insert dayofweeks(Mon,Tue...)
    * 

### Merge
    * Final step! Preprocess each dataset -> merge